<a class="navbar-brand" routerLink="/">
  <img alt="Pipeline" src="../../../../../assets/img/logo.svg" />
</a>
<div class="d-flex align-items-center">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbar-collapse"
    aria-controls="navbar-collapse"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
</div>
<div class="collapse navbar-collapse flex-column" id="navbar-collapse">
  <ul class="navbar-nav d-lg-block">
    <li class="nav-item">
      <a class="nav-link" routerLink="/">Home</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/teams">Teams</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/projects">Projects</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/tasks">Tasks</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/employees">Employees</a>
    </li>
  </ul>
  <hr />
</div>
